@model List<Product>
@{
    ViewData["Title"] = "Manage Products";
}
<h1 class="pb-1 ">@ViewData["Title"]</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductCode</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.ReleaseDate.ToString()</td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@product.ProductId"
                       class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete"
                       asp-route-id="@product.ProductId"
                       class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="mb-2">
    <a asp-controller="Products" asp-action="Add" class="btn btn-primary">Add New Product</a>
</div>